.backdrop {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .modal {
    width: 50%;
    min-height: 35%;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    z-index: 8;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .editBookWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    color: #fff;
    margin-top: 30px;
    padding: 20px 40px;
    border-radius: 5px;
    width: 50%;
    min-height: 25%;
    margin-bottom: 20px;
    background-color: rgb(15, 13, 13);
}
.editDiv{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.label {
  display: inline-block;
  font-weight: bold;
  font-style: inherit;
  letter-spacing: 2px;
  color: var(--mainColor);
}




.editBookWrapper form  {
  display: flex;
  align-items: center;
 
  gap: 10px;
}
.editBookWrapper form input{
  outline: none;
  padding: 10px ;
  border-radius: 10px;

}

.editBookWrapper form button {
  padding: 10px 20px;
   background-color: var(--mainColor);
   border: none;
   outline: none;
   border-radius: 10px;
 
   
}

.btn{
   padding: 8px 40px;
   background-color: var(--mainColor);
   border: none;
   outline: none;
   border-radius: 10px;
   margin-bottom: 10px;
   
}

.form{
  display: flex;
  flex-direction: column;
  

}

.form input{
  flex: 1;
}


.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

