.contentsContainer{
    width: 100%;
    height: auto;
    background-color: rgb(12, 11, 11);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
        
}
.contentsWrapper{

    height: auto ;
    padding: 40px ;
    display: grid;
    grid-template-columns: repeat( 1fr);
    grid-gap: 20px;
    column-gap: 20px;
     
}

@media screen and (min-width: 650px) {
 .contentsWrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);       
} 
.contentsContainer{ 
    height: 100vh;
   
    
        
}

}

@media screen and (min-width: 850px) { 
 .addContentDiv,
.searchContentDiv,
.issueContentDiv,
.issuedContentDiv{
    max-width: 500px;
    max-height: 500px;
}
  
}


.contentsWrapper h2{
    font-weight: bolder;
    letter-spacing: 3px;
}

.contentsWrapper h3 {
    font-style: italic;
    letter-spacing: 3px;
}
.addContentDiv,
.searchContentDiv,
.issueContentDiv,
.issuedContentDiv{
    cursor: pointer;
    padding: 20px;
    border-radius: 17px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all ease-in-out .5s;
}

.addContentDiv{
    background-image : linear-gradient(to bottom, rgba(51, 255, 227 , 0.52), rgba(51, 255, 227 ,  0.73)),url('../images/bg3.jpg');
    background-size: cover;
}
.searchContentDiv{
    background-image : linear-gradient(to bottom, rgba(83, 242, 14 , 0.52), rgba(83, 242, 14 , 0.73)),url('../images/bg5.jpg');
    background-size: cover;
}
.issueContentDiv{
    background-image : linear-gradient(to bottom, rgba(255, 51, 209 , 0.52), rgba(255, 51, 209 , 0.73)),url('../images/bg2.jpg');
    background-size: cover;

}
.issuedContentDiv{
    background-image : linear-gradient(to bottom, rgba(255, 255, 0, 0.52), rgba(255, 255, 0, 0.73)),url('../images/bg4.jpg');
    background-size: cover;
}


.addContentDiv:hover,
.issueContentDiv:hover,
.issuedContentDiv:hover,
.searchContentDiv:hover{
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
}

.icon{
    width: 40px;
    height: 40px;
    color: aliceblue;
}


  