.contentsContainer{
    width: 100%;
    height: 100vh;
    background-color: black;
    /* background:  linear-gradient(rgba(12, 11, 11, 0.5), rgba(0, 0, 0, 0.5)),url('https://images.pexels.com/photos/7130475/pexels-photo-7130475.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-position: center;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
   
 
    
}
.contentsWrapper{
 
    width: 60%;
    height: 67vh;
    padding: 40px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    column-gap: 20px;

      
      
}

.contentsWrapper h2, h3 {
    font-weight: bold;
    letter-spacing: 3px;
}
.addContentDiv,
.searchContentDiv,
.issueContentDiv,
.issuedContentDiv{
    cursor: pointer;
    padding: 20px;
    border-radius: 17px;
    transition: all ease-in-out .5s;
}

.addContentDiv{
    background-image : linear-gradient(to bottom, rgba(51, 255, 227 , 0.52), rgba(51, 255, 227 ,  0.73)),url('../images/bg3.jpg');
    background-size: cover;
}
.searchContentDiv{
    background-image : linear-gradient(to bottom, rgba(83, 242, 14 , 0.52), rgba(83, 242, 14 , 0.73)),url('../images/bg5.jpg');
    background-size: cover;
}
.issueContentDiv{
    background-image : linear-gradient(to bottom, rgba(255, 51, 209 , 0.52), rgba(255, 51, 209 , 0.73)),url('../images/bg2.jpg');
    background-size: cover;

}
.issuedContentDiv{
    background-image : linear-gradient(to bottom, rgba(255, 255, 0, 0.52), rgba(255, 255, 0, 0.73)),url('../images/bg4.jpg');
    background-size: cover;
}


.addContentDiv:hover,
.issueContentDiv:hover,
.issuedContentDiv:hover,
.searchContentDiv:hover{
    transform: scale(1.05); 
}

.icon{
    width: 40px;
    height: 40px;
    color: aliceblue;
}