.editBookContainer{
    background-color: yellow;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 10%;
    left: 31%;
    z-index: 2;
    border-radius: 10px;
    opacity: 0.7;
    text-align: center;
}

.editBookWrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.editBookContainer button{
    margin-right: 5px;
    margin-top: 12px;
    padding: 7px 16px;
    border-radius: 6px;

}