.footerContainer{
    width: 100%;
    height: auto;
    padding: auto 20px;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.footerWrapper{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
}

.footersHeader {
    text-align: center;
    font-size: 14px;
    
}
.footersHeader h2{
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: -10px;
}
.footersHeader p{
    color: var(--mainColor);
}
.footersLinks ul{
    display: flex;
    list-style-type: none;
    
}
.footersLinks ul li{
    padding: 0 10px;
    text-decoration: none;
}
.footersLinks ul li:hover{
    color: var(--mainColor);
    text-decoration: underline;
    cursor: pointer;
}
.footersSocialIcons{
    display: flex;
    margin: 10px auto;

}
.icon{
   
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--mainColor);
    padding: 4px;
    margin-right: 10px;
    font-size: 10px;
    
}

.textFooter{
 
    margin-bottom: 10px;
}
.textFooter p{
    font-weight: lighter;
    text-align: center;
    font-style: italic;
    color: slategrey;
    font-size: 12px;
}

@media screen and (min-width: 600px) {
  .footersHeader h2{
    font-size: 19px;
  }
  .footersLinks ul li{
    padding: 0 25px;
  }
  .textFooter{
    font-size: 16px;
  }
   }
  
  @media screen and (min-width: 850px) {
.footersHeader h2{
    font-size: 21px;
}
.footersLinks ul li{
    padding: 0 30px;
  }
    
  }
  