.addContainer{
    height: 100vh;
    background: linear-gradient(to bottom, #e6ae35, #755510); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.addWrapper{
    
    background-color: #fff;
    padding: 10px 45px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}
.addWrapper h2{
    text-align: center;
   
}
.addWrapper form{
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}

.addWrapper form input{
   width: 300px;
   padding: 10px;
   border: none;
   border-bottom: 1px solid #a7bcff;
}
.addWrapper form select{
    padding: 10px;
 }

.addWrapper form button {
    margin-top: 20px;
    background-color: var(--mainColor);
    color: #000;
    border: 2px solid #475569;
    border-radius: 4px;
    width: 40%;
    align-self: center;
    padding: 10px;
    position: relative;
    z-index: 10;
    box-shadow: 5px 5px 0px 0px #475569;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all ease-in-out .2s;
  }


  .addWrapper  button:hover{
    
    transform: scale(1.15);
     
     
 }

.error{
    color: red;
    text-align: center;
}

@media screen and (min-width: 650px) {
   .addWrapper{
     padding: 20px 70px;
   }
   
   }

@media screen and (min-width: 800px) {
    .addWrapper{
      padding: 30px 100px;
    }
    
    }