.issueContainer{
    height: 100vh;
    background: linear-gradient(to bottom, #e6ae35, #755510); 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.issueContainer h1,h3{
    text-align: center;
}

.issueWrapper{
    position: relative;
    background-color: #fff;
    padding: 25px 26px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   

}
.issueWrapper form{
    display: flex;
    flex-direction: column;
    gap: 40px;
   

   
}
.issueWrapper label{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
}



.issueWrapper input{
   width: 350px;
   outline: none;
   border: none;
   border-bottom: 1px solid #a7bcff;
   background: none;
   flex:  200px;
   margin-left: 10px;

   
}

.issueWrapperBtn {
    margin-top: 20px;
    background-color: var(--mainColor);
    color: #000;
    border: 2px solid #475569;
    border-radius: 4px;
    width: 40%;
    align-self: center;
    padding: 10px;
    position: relative;
    box-shadow: 5px 5px 0px 0px #475569;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all ease-in-out .2s;
  }

.issueWrapperBtn:hover{
    
   transform: scale(1.15);
    
    
}
.datePicker{
    z-index: 30;
}


@media screen and (min-width: 650px) {
    .issueWrapper{
        padding: 25px 70px;
    }

    }
 
 @media screen and (min-width: 900px) {
   .issueWrapper{
    padding: 30px 85px;
   }
     
     }