.searchContainer{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    overflow: hidden;
 
    
}

.wrapper{
    
    margin-top: 50px;
    position: relative;
   
 
}

.subWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}
.inputDiv, .editTitle{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 17px;
}

.wrapper input{
   
   width: 300px;
   outline: none;
   padding: 10px;
   border-radius: 7px;
   margin: auto;
}
.content{
    background-color: aliceblue;
    width: 100%;
    height: 60vh;
    overflow: scroll;
    padding: 35px;
    border-radius: 18px;
    margin-top: 15px;
    scroll-behavior: smooth;
    font-size: small;

}

.tableHeader{
    
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 15px;
  
    
}
.tableHeader p{
    flex: 1;
    margin-left: 10px;
}


::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 650px) {
    
      .wrapper input{
        width: 500px;
      }
      .editTitle{
        font-size: 26px;
      }
      .content{
        font-size:16px;
      }

    .subWrapper{
       
        width: 600px;
    }
    }

@media screen and (min-width: 850px) {
    .subWrapper{
    
        width: 800px;
    }

    }
 
 @media screen and (min-width: 990px) {
    .subWrapper{
       
        width: 950px;
    }

     }


   