body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mainColor: #F7AB0A;
  --darker:#0C090A;
  --white: #ffffff;
  --danger: rgb(241, 15, 15);
  --black: rgb(21,18,36);
  --blue: rgb(62, 32, 199);
  --fadedWhite: rgb(230, 215, 215) ;
}
