body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mainColor: #F7AB0A;
  --white: #ffffff;
  --danger: rgb(241, 15, 15);
  --black: rgb(21,18,36);
  --blue: rgb(62, 32, 199);
  --fadedWhite: rgb(230, 215, 215) ;
}
